
*{
    color: rgb(229, 192, 25);
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.links{
    border: 50px;
    margin: 30px 200px;
    text-align: justify;
}


.maletin{
    width: 75px;
    height: 75px; 
}

.corazon{
    width: 75px;
    height: 75px;
}

.cohete{
    width: 75px;
    height: 75px;
}

.boton{
    background-color: rgb(229, 117, 13);
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 0px 100px;
    border-radius: 3px;

}

.box {
    border: 5px solid rgb(199, 22, 22) ;
    border: 3px solid rgb(28, 133, 224); 
    text-align: center;
    display: inline-block;
    margin: 30px 40px;
    text-align: center;
    border-radius: 10px; 
}

.contenedor {
    text-align: center;
    background-color: rgb(231, 212, 212);
    width: 500px;
    height: 150px;
    border: 5px solid rgb(239, 141, 29)
}

.box1{
background-color: rgb(1, 92, 58);
}

.box2{
    background-color: rgb(1, 92, 58);
    }

.box3{
background-color: rgb(1, 92, 58);
}